body{
    font-family: Arial;
}

.container{
    padding: 16px;
    margin: 20px;
}

hr{
    margin-right: 50%;
    margin-bottom: 25px;
}
label{
    width: 50%;
    margin: 8px 0;
    display: inline-block;
}

input[type = text], input[type = password], input[type = email], button{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    background-color: #4CAF50;
    font-size: 20px;
}

label.error{
    color: red;
    margin-left: 20px;
    display: inline;
}

.alert{
    width: 50%;
}